body {
    background-color: #1d1d23;
    font-family: 'Muli', sans-serif;

    text-align: center;
    margin-top: 15%;
    
}

h1{
    font-size: 50px;
    color: #5cd1db;
}

.btn {
    width: 220px;
    height: 50px;
   
    font-size: 16px;

   
    color: #1d1d23;
    
    margin: 5px 5px;
    border-radius: 10px;
    
    letter-spacing: 1px;
    background-image: linear-gradient(to right, #638ef3 0%, #a397ff 51%, #5cd1db 100%);
    background-size: 300% auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    transition: .5s;

    border: 0;
    
}


.btn:active {
    transform: scale(0.98);
}

.btn:focus {
    outline: 0;
}

.btn:hover{
    background-position: right center;
}